torch==1.10.0+cu113
torchvision==0.11.1+cu113
tensorboard==2.7.0
numpy==1.21.1
pyyaml==5.4.1
Pillow==8.3.1

# uv pip install -r requirements.txt --extra-index-url https://download.pytorch.org/whl/cu113  --index-strategy unsafe-best-match